
# Mac OS X ignore
.DS_Store
._*
# Webstorm
.idea/
# local experimentations
lab/
# EditPlus backups
*.*~
# Planning related files
NOTES D'INTEGRATION.*
js/plugins/jquery.visualize.planning.js
examples/example-planning.js
lib/jquery*.*

.gitignore
