
# Mac OS X ignore
.DS_Store
._*
# Webstorm
.idea/
# local experimentations
lab/
js/plugins/lab/
# EditPlus backups
*.*~
# Planning related files
NOTES D'INTEGRATION.*
js/plugins/visualize-planning/
examples/example-planning.js
lib/jquery*.*

.gitignore
